html, body {
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'Painted';
    font-weight:400;
    src: local('Granger-Regular');
}

.app{
    margin:0;
    padding:0;
}

.Navbar {
    display:flex;
    flex-direction:row;
    padding:20px;
    margin-top:0;
    color:white;
    align-items: center;
    justify-content: center;
    background-color:red;
    font-family: 'Painted', sans-serif;
}

.navlink {
    padding:10px 30px;
    color:white;
    text-decoration: none;
}
/* Pocetna */


.pocetna {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
}
.pocetna h1 {
    font-size:5rem;
}

.social-media {
    display:flex;
    flex-direction:row;
}